<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3078D9A1D59B12200C8137E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3078DB31D59B12200C8137E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3078DBE1D59B12200C8137E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F33BFD4B1DA8E8410075CB51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F33BFD731DA8EA7E0075CB51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
